In [1]:
import numpy as np
import pandas as pd

In [27]:
df=pd.read_csv("mcdonalds_dataset.csv")

In [28]:
df.head()

,Unnamed: 0,url_for_product,product_name,product_availability,product_calories,product_price,have_sizes,Protein,Carbs,Fat,Salt,Saturates,Sugars
0,0,https://mcdonalds-menu.co.uk/bacon-mayo-chicken/,Bacon Mayo Chicken,1,kcal: 332,£ 1.99,1,17.0,38.0,12.0,1.40,2.2,4.6
1,1,https://mcdonalds-menu.co.uk/mayo-chicken/,Mayo Chicken,1,kcal: 285,£ 1.39,1,12.0,38.0,9.1,1.00,1.1,4.4
2,2,https://mcdonalds-menu.co.uk/hamburger/,Hamburger,1,kcal: 251,£1.19,1,13.0,30.0,8.3,1.20,3.3,6.3
3,3,https://mcdonalds-menu.co.uk/fries/,Fries,1,kcal: 237,£ 1.19,3,2.3,29.0,12.0,0.44,1.1,0.4
4,4,https://mcdonalds-menu.co.uk/cheeseburger/,Cheeseburger,1,kcal: 298,£1.39,1,16.0,31.0,12.0,1.70,5.5,7.0

In [29]:
df.describe()

,Unnamed: 0,product_availability,have_sizes,Protein,Carbs,Fat,Salt,Saturates,Sugars
count,152.000000,152.000000,152.000000,132.000000,133.000000,133.000000,132.000000,132.000000,129.000000
mean,75.500000,0.835526,1.131579,17.400000,36.037594,15.811278,1.371515,5.649242,11.836434
std,44.022721,0.371930,0.697054,13.450895,15.945070,10.917894,1.042456,4.901869,11.787592
min,0.000000,0.000000,0.000000,0.300000,1.000000,0.100000,0.010000,0.000000,0.200000
25%,37.750000,1.000000,1.000000,5.300000,28.000000,9.000000,0.397500,1.600000,4.300000
50%,75.500000,1.000000,1.000000,14.500000,37.000000,13.000000,1.250000,4.450000,7.300000
75%,113.250000,1.000000,1.000000,26.000000,43.000000,20.000000,2.025000,7.400000,13.000000
max,151.000000,1.000000,3.000000,53.000000,96.000000,46.000000,3.800000,19.000000,47.000000

In [30]:
df.shape

(152, 13)

In [31]:
df.tail()

,Unnamed: 0,url_for_product,product_name,product_availability,product_calories,product_price,have_sizes,Protein,Carbs,Fat,Salt,Saturates,Sugars
147,147,https://mcdonalds-menu.co.uk/muffin-with-jam/,Muffin with Jam,1,kcal: 214,£ 1.49,1,5.5,35.0,5.6,0.44,1.4,11.0
148,148,https://mcdonalds-menu.co.uk/hash-brown/,Hash Brown,1,kcal: 127,£ 1.19,1,1.1,13.0,7.4,0.64,0.7,0.2
149,149,https://mcdonalds-menu.co.uk/pancakes-syrup/,Pancakes & Syrup,1,kcal: 477,£ 3.29,1,10.0,95.0,5.6,1.50,0.9,41.0
150,150,https://mcdonalds-menu.co.uk/pancakes-sausage-...,Pancakes & Sausage with Syrup,1,kcal: 612,£ 3.29,1,20.0,96.0,16.0,2.30,4.6,41.0
151,151,https://mcdonalds-menu.co.uk/porridge/,Porridge,1,kcal: 154,£ 1.99,1,7.8,23.0,3.0,0.17,1.3,6.4

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152 entries, 0 to 151
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            152 non-null    int64
 1   url_for_product       134 non-null    object
 2   product_name          152 non-null    object
 3   product_availability  152 non-null    int64
 4   product_calories      152 non-null    object
 5   product_price         152 non-null    object
 6   have_sizes            152 non-null    int64
 7   Protein               132 non-null    float64
 8   Carbs                 133 non-null    float64
 9   Fat                   133 non-null    float64
 10  Salt                  132 non-null    float64
 11  Saturates             132 non-null    float64
 12  Sugars                129 non-null    float64
dtypes: float64(6), int64(3), object(4)
memory usage: 15.6+ KB

In [33]:
df.loc[0]

Unnamed: 0                                                             0
url_for_product         https://mcdonalds-menu.co.uk/bacon-mayo-chicken/
product_name                                          Bacon Mayo Chicken
product_availability                                                   1
product_calories                                               kcal: 332
product_price                                                     £ 1.99
have_sizes                                                             1
Protein                                                             17.0
Carbs                                                               38.0
Fat                                                                 12.0
Salt                                                                 1.4
Saturates                                                            2.2
Sugars                                                               4.6
Name: 0, dtype: object

In [34]:
df.iloc[0,0]

0

In [35]:
df.iloc[[3,4]]

,Unnamed: 0,url_for_product,product_name,product_availability,product_calories,product_price,have_sizes,Protein,Carbs,Fat,Salt,Saturates,Sugars
3,3,https://mcdonalds-menu.co.uk/fries/,Fries,1,kcal: 237,£ 1.19,3,2.3,29.0,12.0,0.44,1.1,0.4
4,4,https://mcdonalds-menu.co.uk/cheeseburger/,Cheeseburger,1,kcal: 298,£1.39,1,16.0,31.0,12.0,1.70,5.5,7.0

In [36]:
x=df.iloc[:,:-1]

In [37]:
x

,Unnamed: 0,url_for_product,product_name,product_availability,product_calories,product_price,have_sizes,Protein,Carbs,Fat,Salt,Saturates
0,0,https://mcdonalds-menu.co.uk/bacon-mayo-chicken/,Bacon Mayo Chicken,1,kcal: 332,£ 1.99,1,17.0,38.0,12.0,1.40,2.2
1,1,https://mcdonalds-menu.co.uk/mayo-chicken/,Mayo Chicken,1,kcal: 285,£ 1.39,1,12.0,38.0,9.1,1.00,1.1
2,2,https://mcdonalds-menu.co.uk/hamburger/,Hamburger,1,kcal: 251,£1.19,1,13.0,30.0,8.3,1.20,3.3
3,3,https://mcdonalds-menu.co.uk/fries/,Fries,1,kcal: 237,£ 1.19,3,2.3,29.0,12.0,0.44,1.1
4,4,https://mcdonalds-menu.co.uk/cheeseburger/,Cheeseburger,1,kcal: 298,£1.39,1,16.0,31.0,12.0,1.70,5.5
...,...,...,...,...,...,...,...,...,...,...,...,...
147,147,https://mcdonalds-menu.co.uk/muffin-with-jam/,Muffin with Jam,1,kcal: 214,£ 1.49,1,5.5,35.0,5.6,0.44,1.4
148,148,https://mcdonalds-menu.co.uk/hash-brown/,Hash Brown,1,kcal: 127,£ 1.19,1,1.1,13.0,7.4,0.64,0.7
149,149,https://mcdonalds-menu.co.uk/pancakes-syrup/,Pancakes & Syrup,1,kcal: 477,£ 3.29,1,10.0,95.0,5.6,1.50,0.9
150,150,https://mcdonalds-menu.co.uk/pancakes-sausage-...,Pancakes & Sausage with Syrup,1,kcal: 612,£ 3.29,1,20.0,96.0,16.0,2.30,4.6
151,151,https://mcdonalds-menu.co.uk/porridge/,Porridge,1,kcal: 154,£ 1.99,1,7.8,23.0,3.0,0.17,1.3

In [38]:
y=df.iloc[:,:-1]
y

,Unnamed: 0,url_for_product,product_name,product_availability,product_calories,product_price,have_sizes,Protein,Carbs,Fat,Salt,Saturates
0,0,https://mcdonalds-menu.co.uk/bacon-mayo-chicken/,Bacon Mayo Chicken,1,kcal: 332,£ 1.99,1,17.0,38.0,12.0,1.40,2.2
1,1,https://mcdonalds-menu.co.uk/mayo-chicken/,Mayo Chicken,1,kcal: 285,£ 1.39,1,12.0,38.0,9.1,1.00,1.1
2,2,https://mcdonalds-menu.co.uk/hamburger/,Hamburger,1,kcal: 251,£1.19,1,13.0,30.0,8.3,1.20,3.3
3,3,https://mcdonalds-menu.co.uk/fries/,Fries,1,kcal: 237,£ 1.19,3,2.3,29.0,12.0,0.44,1.1
4,4,https://mcdonalds-menu.co.uk/cheeseburger/,Cheeseburger,1,kcal: 298,£1.39,1,16.0,31.0,12.0,1.70,5.5
...,...,...,...,...,...,...,...,...,...,...,...,...
147,147,https://mcdonalds-menu.co.uk/muffin-with-jam/,Muffin with Jam,1,kcal: 214,£ 1.49,1,5.5,35.0,5.6,0.44,1.4
148,148,https://mcdonalds-menu.co.uk/hash-brown/,Hash Brown,1,kcal: 127,£ 1.19,1,1.1,13.0,7.4,0.64,0.7
149,149,https://mcdonalds-menu.co.uk/pancakes-syrup/,Pancakes & Syrup,1,kcal: 477,£ 3.29,1,10.0,95.0,5.6,1.50,0.9
150,150,https://mcdonalds-menu.co.uk/pancakes-sausage-...,Pancakes & Sausage with Syrup,1,kcal: 612,£ 3.29,1,20.0,96.0,16.0,2.30,4.6
151,151,https://mcdonalds-menu.co.uk/porridge/,Porridge,1,kcal: 154,£ 1.99,1,7.8,23.0,3.0,0.17,1.3

In [39]:
df.columns

Index(['Unnamed: 0', 'url_for_product', 'product_name', 'product_availability',
       'product_calories', 'product_price', 'have_sizes', 'Protein', 'Carbs',
       'Fat', 'Salt', 'Saturates', 'Sugars'],
      dtype='object')

In [40]:
df.isnull().sum()

Unnamed: 0               0
url_for_product         18
product_name             0
product_availability     0
product_calories         0
product_price            0
have_sizes               0
Protein                 20
Carbs                   19
Fat                     19
Salt                    20
Saturates               20
Sugars                  23
dtype: int64

NameError: name 'LabelEncoder' is not defined